extends layout
block content
    .row.page-header 
        .col-lg-12 
            h1 Seda'nın Mutfağı
    .row 
        .col-xs-12.col-md-12 
            .row 
                .col-xs-12.col-sm-6 
                    p.rating 
                        span.glyphicon.glyphicon-star     
                        span.glyphicon.glyphicon-star   
                        span.glyphicon.glyphicon-star   
                        span.glyphicon.glyphicon-star   
                        span.glyphicon.glyphicon-star   
                    p Meydan AVM 
                    .panel.panel-primary 
                        .panel-heading 
                            h2.panel-title Açılış Saatleri 
                        .panel-body 
                            p 
                                | Hafta içi: 9:00-20:00   
                            p 
                                | Hafta sonu: 11:00-22:00
                    .panel.panel-primary 
                        .panel-heading
                            h2.panel-title Neler Var?
                        .Panel-body 
                            span.label.label-warning Ev Yemekleri 
                            | &nbsp;
                            span.label.label-warning Pastalar 
                            | &nbsp;
                            span.label.label-warning Börekler 
                            | &nbsp;
                .col-xs-12.col-sm-6 
                    .panel.panel-primary 
                        .panel-heading
                            h2.panel-title Konum Bilgisi 
                        .panel-body 
                            -var enlem=37.78
                            -var boylam=30.56
                            img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center='+enlem+','+boylam+'&zoom=12&size=600x400&markers='+enlem+','+boylam+'&key=AIzaSyCmmKygTpBzHGOZEciJpAdxC9v_tWHagnE')
    .row
        .col-xs-12 
            .panel.panel-primary 
                .panel-heading 
                    a.btn.btn-default.pull-right(href='/mekan/yorum/yeni') Yorum Ekle 
                    h2.panel-title Müşteri Yorumları
                .panel-body.review-container 
                    .row 
                        .review 
                            .well.well-sm.review-header 
                                span.glyphicon.glyphicon-star     
                                span.glyphicon.glyphicon-star   
                                span.glyphicon.glyphicon-star   
                                span.glyphicon.glyphicon-star   
                                span.glyphicon.glyphicon-star
                                span.review-author Arzu AKKUŞ
                                small.reviewTimestamp &nbsp; 9 Ekim 2022
                            .col-xs-12 
                                p Her şey muazzam.



